<p id="notice"><%= notice %></p>
<style type="text/css">
td
{
    padding:20px 15px;
}
</style>
<center>
<h1>Club Members</h1>
<br>
</center>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Club</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.name %></td>
        <td><%= owner.age %></td>
        <td><%= owner.bio %></td>
        <td><%= owner.club.name %></td>
        <td><%= link_to 'Show', owner, class: "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_owner_path(owner), class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', owner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>
