<p id="notice"><%= notice %></p>
<style type="text/css">
td
{
    padding:0 15px 0 15px;
}
</style>
<center>
<h1>List of Clubs</h1>
<br>
</center>
<table>
  <thead>
    <tr>
      <th><%= "Name" %></th>
      <th><%= "City" %></th>
      <th><%= "State" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.city %></td>
        <td><%= club.state %></td>
        <td><%= link_to 'Show', club, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_club_path(club), class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', club, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
