<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel panel-body">
		<p>by <%= @blog_post.user.name%> on <%= @blog_post.created_at.strftime('%A, %b %d, %Y at %k:%M') %></p>
		<br>
		<p><%= @blog_post.blog_entry %></p>
		<br>
			<% if current_user == @blog_post.user %>
			<%= link_to 'Edit Post', edit_blog_post_path(@blog_post), class: "btn btn-warning" %>
			<%= link_to 'Back to Index', blog_posts_path, class: "btn btn-primary" %>
			<% end %>
	</div>
</div>


<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
		<% @blog_post.comments.each do|comment| %>
		<div class="panel-body"></div>
		<p><strong><%= comment.user.name %> </strong> said:</p>
		<p><%= comment.comment_entry %> </p>
	</div>
	<% end %>
</div>