<h1>All Posts by <%=@user.name%></h1>
<br>

<div class="row">
<% @user.blog_posts.each do |blog_post| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to blog_post.title, blog_post %>
        <!-- this links to "Show" the blog post -->
      </div>
      <div class="panel-body">
        <p>by <%= blog_post.user.name%> on <%= blog_post.created_at.strftime('%A, %b %d, %Y at %k:%M') %></p>
          <br />
        <p><%= blog_post.blog_entry[0..250]%>...[<%= link_to "READ MORE", blog_post %>]</p>
        <!-- this means only 250 characters will appear of each post in the index -->
      </div>
      <div class="panel-footer">
        <% if signed_in%>
        <% if current_user.id == @user.id %>
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
        <%= link_to 'Destroy', blog_post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>