<table>
	<tbody>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>Mass</th>
			<th>Birth Year</th>
			<th>Hair Color</th>
			<th>Skin Color</th>
			<th>Eye Color</th>
			<th>Gender</th>
		</tr>
		<% @results.each do |person| %>
			<tr>
				<td><%= person["name"]%></td>
				<td><%= person["height"]%></td>
				<td><%= person["mass"]%></td>
				<td><%= person["birth_year"]%></td>			
				<td><%= person["hair_color"]%></td>
				<td><%= person["skin_color"]%></td>
				<td><%= person["eye_color"]%></td>
				<td><%= person["gender"]%></td>
			</tr>
		<% end %>
	</tbody>
</table>