<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @creature.name %>
</p>

<p>
  <strong>Element:</strong>
  <%= @creature.element %>
</p>

<p>
  <strong><%= image_tag(@creature.image_url, :width => 300) if @creature.image.present? %></strong>
  
</p>

<%= link_to 'Edit', edit_creature_path(@creature) %> |
<%= link_to 'Back', creatures_path %>
